{% extends 'dash_base.html' %}

{% block header %}
  <h1 class="mt-4 mb-4 text-center" style="font-size: 2.5rem;">Information</h1>
{% endblock %}

{% block content %}
  <div class="container mt-5">
      <div class="card-body" style="font-size: 1.25rem;">
        <p>
          <a target="_blank" href="https://halldweb1.jlab.org/wiki/index.php/Calibration_Database"
             class="btn btn-primary text-white" style="text-decoration: none;">
            Visit the Calibration Database GluEX Wiki Page
          </a>
        </p>
      </div>
    </div>
{% endblock %}
