{% extends 'dash_base.html' %}

{% block header %}
<h1 class="text-center mt-4">Error</h1>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="alert alert-danger" role="alert">
        <p style="font-size: 1.2rem;">{{ message }}</p>
        <hr>
        <p class="mb-0" style="font-size: 1.1rem;">Please check the URL and try again.</p>

        <div class="mt-4">
            <a class="btn btn-primary" style="font-size: 1.1rem;" href="{{ url_for('directory_tree') }}">Browse all directories and tables</a>
        </div>
    </div>
</div>
{% endblock %}
