{% macro modal_directory_info(directory) %}
<div class="modal fade" id="directoryInfoModal" tabindex="-1" aria-labelledby="directoryInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="directoryInfoModalLabel">{{ directory.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">DB ID</th>
              <td>{{ directory.id }}</td>
            </tr>
            <tr>
              <th scope="row">Full path</th>
              <td>{{ directory.path }}</td>
            </tr>
            <tr>
              <th scope="row">Created</th>
              <td>{{ directory.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            <tr>
              <th scope="row">Modified</th>
              <td>{{ directory.modified.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            <tr>
              <th scope="row">Author</th>
              <td>{{ directory.author_id }}</td>
            </tr>
            <tr>
              <th scope="row">Comment</th>
              <td>{{ directory.comment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
