<div class="modal-header">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <h5 class="modal-title w-100 text-center" id="tableInfoModalLabel">Table name: {{ table.name }}</h5>
</div>
<div class="modal-body">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">DB ID</th>
                <td>{{ table.id }}</td>
            </tr>
            <tr>
                <th scope="row">Full path</th>
                <td>{{ table.path }}</td>
            </tr>
            <tr>
                <th scope="row">Created</th>
                <td>{{ table.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            <tr>
                <th scope="row">Modified</th>
                <td>{{ table.modified.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            <tr>
                <th scope="row">Author</th>
                <td>{{ table.author }}</td>
            </tr>
            <tr>
                <th scope="row">Comment</th>
                <td>{{ table.comment }}</td>
            </tr>
        </tbody>
    </table>
</div>

