{% extends 'dash_base.html' %}
{% block header %}
  <h1 class="mt-4 mb-4 text-center">{% block title %}Versions{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
            {% if assignments %}
                <table id="versionsTable" class="table table-striped table-bordered" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Run Min</th>
                            <th scope="col">Run Max</th>
                            <th scope="col">Created</th>
                            <th scope="col">Variation</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in assignments %}
                            <tr>
                                <td>{{ assignment.run_range.min }}</td>
                                <td>{{ assignment.run_range.max }}</td>
                                <td>{{ assignment.created }}</td>
                                <td>{{ assignment.variation.name }}</td>
                                <td><a href="{{ url_for('show_request', request=assignment.request) }}" class="btn btn-primary btn-sm">View</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">No assignments found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script>
  $(document).ready(function() {
    var table = $('#versionsTable').DataTable({
      "pagingType": "full_numbers",
      "order": [[3, "asc"]],
      "pageLength": 10,
      "dom": "<'row'<'col-sm-12 col-md-4'l><'col-sm-12 col-md-4'<\"min-max-wrapper\">><'col-sm-12 col-md-4'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
      "language": {
          "paginate": {
              "first": "«",
              "previous": "‹",
              "next": "›",
              "last": "»"
          }
      },
        "columnDefs": [
          {
            "targets": 1,
            "render": function(data, type, row) {
              return type === 'display' && data >= 2147483647 ? '&#x221E;' : data;
            }
          }
        ]
    });

    $("div.min-max-wrapper").html('<div class="input-group mb-3">' +
        '<input type="text" id="minRun" class="form-control" placeholder="Min Run">' +
        '<input type="text" id="maxRun" class="form-control" placeholder="Max Run">' +
        '</div>');

    $.fn.dataTable.ext.search.push(
      function(settings, data, dataIndex) {
        var min = parseInt($('#minRun').val(), 10);
        var max = parseInt($('#maxRun').val(), 10);
        var runMin = parseFloat(data[0]) || 0;
        var runMax = parseFloat(data[1]) || 0;

        if ((isNaN(min) && isNaN(max)) ||
            (isNaN(min) && runMax <= max) ||
            (min <= runMin && isNaN(max)) ||
            (min <= runMin && runMax <= max)) {
          return true;
        }
        return false;
      }
    );

    $('#minRun, #maxRun').keyup(function() {
      table.draw();
    });
});

</script>
{% endblock %}
