{% extends 'simple_base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}CCDB - Test Request{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container my-4">
    <div class="card">
      <div class="card-body">
        <form id="form1" runat="server" method="get" action="{{ url_for('show_request') }}" class="needs-validation" novalidate>
          <div class="form-group row mb-3">
            <!-- TYPE TABLE -->
            <label for="tableName" class="col-sm-2 col-form-label">Table</label>
            <div class="col-sm-10">
              <input id="tableName" type="text" class="form-control" placeholder="Type table" required>
              <div class="invalid-feedback">
                Please specify the type table.
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <!-- VARIATION -->
            <label for="variationSelect" class="col-sm-2 col-form-label">Variation</label>
            <div class="col-sm-10">
              <select id="variationSelect" class="form-control">
                {% for variation in variations %}
                  <option value="{{ variation.name }}">{{ variation.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="form-group row mb-3">
            <!-- RUN RANGE -->
            <label for="runNumber" class="col-sm-2 col-form-label">Run number</label>
            <div class="col-sm-10">
              <input id="runNumber" type="text" class="form-control" placeholder="Run number" value="0" required>
              <div class="invalid-feedback">
                Please specify run number.
              </div>
            </div>
          </div>

          <div class="form-group row mb-3">
            <!-- DATE -->
            <label for="dateText" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
              <input id="dateText" type="text" class="form-control" placeholder="YYYY-MM-DD">
            </div>
          </div>

          <input type="hidden" value="" name="request" id="requestHidden">
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary px-md-5">Run</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

    <script type="text/javascript">
    function combineRequest(event)
    {
         console.log(event);
         //type table
         let type_table = document.getElementsByTagName('input')[0];
         type_table = type_table.value;
         //event.preventDefault();

         console.log(type_table);
         if(!type_table) {
             alert("Please specify type table");
             return false;
         }

         //run number
         let run = document.getElementsByTagName('input')[1];
         run = run.value;
         console.log(run)
         if(!run){
             alert("Please specify run number");
             return false;
         }
         //variation
         let variation = document.getElementsByTagName('input')[2];
         variation= variation.value
         console.log(variation)

         //now we have everything to build request
         let request = type_table+":"+run +":"+ variation;

         //is there a date?
         let date = document.getElementsByTagName('input')[3];
         date= date.value;
         if(date) request = request + ":" +date;
         console.log(request)

        // //insert request value to our hidden input and return true
        // console.log(request);
        // // $("#requestHidden").val(request);

        let hidden = document.getElementById('requestHidden');
        hidden.setAttribute("value", request);

        return false;
    }

    /*var acpl = @tables_autocomplete;


    $(document).ready(function () {

        $("#variationSelect").find("option[value=default]").attr('selected', true);

        $("input#tableName").autocomplete({
                                              source: function(request, response) {
                                                  //show only first 10 autocomplete results
                                                  var results = $.ui.autocomplete.filter(acpl, request.term);
                                                  response(results.slice(0, 10));
                                              }
                                          });
        //catch form submit
        $("#form1").submit(function(){
            return combineRequest();
        });
    });
    */

        document.addEventListener("DOMContentLoaded", function() {
            let form = document.getElementById("form1");
            if(form.addEventListener) {
                form.addEventListener("submit", combineRequest, false);  //Modern browsers
            };
        });

    </script>
{% endblock %}