{% extends 'dash_base.html' %}

{% block header %}
  <h1 class="mt-4 mb-4 text-center">{% block title %}Variations{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">


        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />
        <table id="variationsTable" class="table table-striped table-bordered" style="width:100%">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Created</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for variation in variations %}
            <tr>
              <td>{{ variation.name }}</td>
              <td>{{ variation.created }}</td>
              <td>{{ variation.comment }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

        <script>
          $(document).ready(function() {
            $('#variationsTable').DataTable({
              "pagingType": "full_numbers",
              "order": [[1, "asc"]],
              "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                "language": {
                    "paginate": {
                        "first": "«",
                        "previous": "‹",
                        "next": "›",
                        "last": "»"
                    }
                }
            });
          });
        </script>

      </div>
    </div>
  </div>
{% endblock %}
